[Unit]
After=network.target dbus.socket

[Service]
Type=simple
Environment="TG_BOT_ID=?"
Environment="TG_BOT_TOKEN=?"
Environment="TG_CHAT_ID=?"
ExecStart=/usr/local/bin/service_monitor.sh %I

[Install]
WantedBy=multi-user.target
